<a href="https://colab.research.google.com/github/Halkas6974/test3/blob/main/Assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# 사전의 구조와 이해

price = {'김밥': 5000, '어묵':3000, '떡볶이':2000}

print('값 : {}'.format(price.get('김밥')))

값 : 5000

In [21]:
# 리스트의 슬라이싱을 사용하여 아래를 출력하세요

tp = [1,2,3,4,5,6,7]

print(tp[::-1])
print(tp[1::3])
print(tp[2:4])

[7, 6, 5, 4, 3, 2, 1]
[2, 5]
[3, 4]

In [23]:
# 조건문
# 점수를 입력받아 등급을 출력하세요
# 등급표 81~100	A / 61~80	B / 41~60	C / 21~40	D / 0~20	E

score = int(input("점수를 입력하세요: "))


if score >=81: 
    grade = "A"
elif score >=61:
    grade = "B"
elif score >=41:
    grade = "C"
elif score >=21:
    grade = "D"
else:
    grade = "F"

print(grade)

점수를 입력하세요: 45
C

In [26]:
# 함수를 만들고 두 수를 입력받아 연산하세요

a = int(input('첫 번째 정수를 입력하세요: '))
b = int(input('두 번째 정수를 입력하세요: '))



print(a + b)
print(a -b)
print(a * b)
print(a / b)

첫 번째 정수를 입력하세요: 4
두 번째 정수를 입력하세요: 2
6
2
8
2.0

In [27]:
# 알고리즘 생성
# 피보나치 수열을 계산하는 함수를 생성하고 자연수 10을 넣어 실행하세요

n = int(input("정수 n을 입력하세요 : "))
seq_fibo = [0, 1]
a, b = seq_fibo
while b <= n:
    a += b
    if a > n:
        break
    else:
        a, b = b, a
        seq_fibo.append(b)

print(seq_fibo)

정수 n을 입력하세요 : 10
[0, 1, 1, 2, 3, 5, 8]

In [35]:
# 클래스
# 사람 (Human) 클래스를 정의하고 (이름, 나이, 성별)을 받는 생성자를 추가하세요.

class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

soyeon = Human("소연", 23, "여자")
print(soyeon.name)

class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

soyeon = Human("소연", 23, "여자")
print(soyeon.age)

class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

soyeon = Human("소연", 23, "여자")
soyeon.who()      # Human.who(soyeon)

소연
23
이름: 소연 나이: 23 성별: 여자